{% extends 'base.html' %}

{% block head %}
<title>Extended Vigenere Cipher - {{mode}}</title>
{% endblock %}

{% block body %}
<!-- MAIN -->
<div class="col p-4">
    <h1 class="display-4">Extended Vigenere Cipher</h1>
    {% if mode=="Encrypt" %}
    <a class="btn btn-primary" href="/extended/encrypt" role="button">Encryption</a>
    <a class="btn btn-secondary" href="/extended/decrypt" role="button">Decryption</a>
    <div class="card">
        <h5 class="card-header font-weight-light">Input</h5>
        <div class="card-body">
            <form action="/extended/encrypt" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="text1">Kunci</label>
                    <input type="text" class="form-control" name="text1" placeholder="Masukkan Kunci, ex: abdifatchur" value="{{key}}">
                </div>
                <div class="form-group">
                    <label for="file">Berkas Plaintext</label>
                    <input type="file" class="form-control-file" name="file" id="text-file-input" required>
                </div>
                <button type="submit" class="btn btn-primary">Encrypt Plaintext</button>
            </form>
        </div>
    </div>
    {% else %}
    <a class="btn btn-secondary" href="/extended/encrypt" role="button">Encryption</a>
    <a class="btn btn-primary" href="/extended/decrypt" role="button">Decryption</a>
    <div class="card">
        <h5 class="card-header font-weight-light">Input</h5>
        <div class="card-body">
            <form action="/extended/decrypt" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="text1">Kunci</label>
                    <input type="text" class="form-control" name="text1" placeholder="Masukkan Kunci, ex: abdifatchur" value="{{key}}">
                </div>
                <div class="form-group">
                    <label for="text3">Berkas Ciphertext</label>
                    <input type="file" class="form-control-file" name="file" id="text-file-input">
                </div>
                <button type="submit" class="btn btn-primary">Decrypt Ciphertext</button>
            </form>
        </div>
    </div>
    {% endif %}
</div><!-- Main Col END -->
{% endblock %}