<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hill Cipher</title>
    <link link rel="stylesheet" href={{ url_for('static', filename='hillCypher.css') }}>
</head>
<body>
    <div>
        <h2>Hill Cipher</h2>
    </div>
    <form action="/hill" method="POST" enctype="multipart/form-data">
        <div>
            <h3>Mode</h3>
            <input type="radio" id="decrypt" name="crypto-mode" value="decrypt" required>
            <label for="decrypt">Decrypt</label>
    
            <input type="radio" id="encrypt" name="crypto-mode" value="encrypt" required>
            <label for="encrypt">Encrypt</label>
        </div>
        <div>
            <h3>Input File</h3>
            <input type="file" id="file-input" name="upload" required>
        </div>
        <div>
            <h3>Kunci</h3>
            <div>
                <h4>Ukuran Kunci</h4>
                <input type="radio" id="2" name="matrix-size" value="2">
                <label for="2">2x2</label>
        
                <input type="radio" id="3" name="matrix-size" value="3">
                <label for="3">3x3</label>
            </div>
            <div>
                <h4>Isi Kunci</h4>
                <div class="input-kunci">
                    <input class="box" type="text" name="0,0"><input class="box" type="text" name="0,1"><input class="box" type="text" name="0,2"><input class="box" type="text" name="1,0"><input class="box" type="text" name="1,1"><input class="box" type="text" name="1,2"><input class="box" type="text"name="2,0"><input class="box" type="text" name="2,1"><input class="box" type="text" name="2,2">
                </div>
            </div>
        </div>
        <div>
            <h3>Eksekusi</h3>
            <button type="submit" name="do">Lakukan</button>
        </div>
    </form>
    
</body>
</html>