{% extends 'base.html' %}

{% block head %}
<title>Home - Cypher</title>
{% endblock %}

{% block body %}
<!-- MAIN -->
<div class="container d-flex align-items-center flex-column justify-content-center">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-2">Kriptografi Klasik</h1>
    
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-2">Vigenere Cipher - Playfair Cipher - Affine Cipher - Hill Cipher</p>
    <p class="masthead-subheading font-weight-light mb-0">Made By</p>
    <p class="masthead-subheading font-weight-light mb-0">Mochammad Fatchur Rochman (13519009)</p>
    <p class="masthead-subheading font-weight-light mb-0">M. Abdi Haryadi. H   (13519167)</p>
</div>

{% endblock %}